 body {
 	background-image: url(images/homework-3.png); 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
.wrapper {
   padding: 20px;
   background-color: white;
   vertical-align: top;
   margin: auto;
   margin-top: 100px;
   width: 850px;
	
 }

 .right {
   display: inline-block;
   vertical-align: top;
   width: 550px;
 }
 .left {
   display: inline-block;
   vertical-align: top;
   width: 250px;
 }

 img {
 	float: left;
 	margin: 10px;
 }
ol {
	list-style-type: none;
}
.list li h4 {
  margin-bottom: 5px;
}

.list li p {
  margin-top: 2px;
  padding-left: 35px;
}

.number1::before { 
   content:" ";
   height: 25px;
   width: 25px;
   background-image: url(images/1.png);
   background-size: 100% 100%;
   display: block;
   float: left;
   position: relative;
   top: 5px;
 

}

.number2::before {
   content:" ";
   height: 25px;
   width: 25px;
   background-image: url(images/2.png);
   background-size: 100% 100%;
   display: block;
   float: left;
   position: relative;
   top: 5px;
  


}

.number3::before {
   content:" ";
   height: 25px;
   width: 25px;
   background-image: url(images/3.png);
   background-size: 100% 100%;
   display: block;
   float: left;
   position: relative;
   top: 5px;
   

}
.font {
	margin: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #263555;	
}
.font2 {
    font-family: 'Didact Gothic', sans-serif;
	color: #263555;
	margin: 1px;
}
.font3 {

	font-family: 'Didact Gothic', sans-serif;
	color: black;
}
.line {
    border-bottom: 1px solid #DEDBDB; 
	padding-bottom: 30px; 
	margin-bottom: 30px;
}
ul {
	columns: 2;
    list-style: inside disc;
	list-style-type: none;
	
}
li {
	padding-left: 10px;
}
li::before {
   content:" ";
   height: 7px;
   width: 10px;
   background-image: url(images/arrow3.png);
   background-size: 100% 100%;
   display: inline-block;
   margin-right: 10px;
}

.block {
	margin: 40px;
    position: relative;
    width: 190px;
    height: 150px;
    padding: 8px;
    background-color: #FCFAFA;
    border: 1px solid #DEDBDB;
  
}
.size {
	margin-top: 0px;
}
.block::before,
.block::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
}

.block::before {
    border-top: 22px solid #DEDBDB;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -22px;
    left: 84px;
}

.block::after {
    border-top: 20px solid #FCFAFA;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    bottom: -20px;
    left: 86px;
}
.name {
    margin: 25px 5px;
    padding: 35px;
}
.name1 {
	margin: -50px;
	padding: 25px;
}
.quotes {
  font-weight: bold;
  margin: 0px;
  padding-top: 10px;
}

.quotes::before {
   content: "\1F676";
   color: #263555;
}

.quotes::after {
   content: "\1F677";
   color: #263555;
}

